<link rel="stylesheet" href="/styles/Partials/footer.css">

<div id="footer">
    <p>Copyright © 2023 Book Exchange</p>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Privacy Policy</a></li>
    </ul>
</div>