<link rel="stylesheet" href="/styles/Partials/header.css">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" width="70px" height="70px" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about">About</a>
        </li>
        <% if(currentUser && currentUser.profileCompleted){%>
          <li class="nav-item">
            <a class="nav-link active" href="/sellbook">Sell Book</a>
          </li>
          <% } %>
      </ul>
      <ul class="d-flex" id="auth">
        <% if(!currentUser){ %>
          <li class="nav-item me-2"><a class="btn btn-success mt-2" href="/register">Register</a></li>
          <li class="nav-item me-2"><a class="btn btn-success mt-2" href="/login">login</a></li>
          <% }else{ %>
            <form action="/logout" method="POST">
              <li class="nav-item me-2"><button class="btn btn-success mt-2" type="submit">logout</button></li>
            </form>
            <% }%>
      </ul>
    </div>
  </div>
</nav>
<div class="d-flex justify-content-end me-3 mt-2">
  <% if(currentUser){ %>
    <a href="/profile/<%= currentUser._id %>" class="d-flex user-thumbnail" id="user-profile">
      <img src="/images/profile.svg" alt="profile-icon">
      <p class="mt-2 display-6 fs-3 username">
        <%= currentUser.username %>
      </p>
    </a>
    <% } %>
</div>
<% if(search){ %>
  <%- include("./search") %>
    <% } %>