<div class="d-flex justify-content-center mt-2">
    <form role="search" id="search-form">
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"><img src="images/search.svg" alt="search-icon"></span>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </div>
        <button class="btn btn-outline-success" type="submit">Search Book</button>
    </form>
</div>